$main-color: #ff0033 !default;
$main-light-color: #ffa4b6 !default;
$main-dark-color: #920122 !default;
$accent-color: #06c755 !default;
$accent-light-color: #80f8b1 !default;
$accent-dark-color: #005723 !default;
