@import "./variables";

// Customize react-calendar styles

// Set calendar text fonts

.react-calendar {
  font-family: "Roboto", "Noto Sans JP", Meiryo, sans-serif;
  width: 30rem;
  margin: 1rem;
}

// Disable active color

.react-calendar__tile--active {
  background-color: #ffffff !important;
}

.react-calendar__tile--active {
  color: #000000 !important;
}

.react-calendar__tile--active:hover {
  background-color: #e6e6e6 !important;
}

// Set today background color and border

.react-calendar__tile--now {
  background-color: #ffff76 !important;
  border: 3px solid #ffff76 !important;
}

.react-calendar__tile--now:hover {
  background-color: #ffffa9 !important;
}

// Set Saturday's text color to blue expect disable day
// Set Sunday's text color to red expect disable day

.react-calendar__tile:nth-child(7n-1):not(.calendar-free):not(.calendar-busy):not(.react-calendar__month-view__days__day--neighboringMonth) {
  color: #0000ff !important;
}

.react-calendar__tile:nth-child(7n):not(.calendar-free):not(.calendar-busy):not(.react-calendar__month-view__days__day--neighboringMonth) {
  color: #ff0000 !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575 !important;
}

// Set background to white and text to black at year and month navigation

.react-calendar__navigation__label:disabled {
  background-color: #ffffff !important;
  color: #000000 !important;
}

// Add Styles for app

// Set free day's text color to accent color

.calendar-free:not(:disabled) {
  background-color: $accent-color !important;
  color: #ffffff !important;
}

.calendar-free:hover:not(:disabled) {
  background-color: $accent-dark-color !important;
}

.calendar-light-free:not(:disabled) {
  background-color: $accent-light-color !important;
  color: #ffffff !important;
}

.calendar-light-free:hover:not(:disabled) {
  background-color: $accent-dark-color !important;
}

// Set busy day's text color to may color

.calendar-busy:not(:disabled) {
  background-color: $main-color !important;
  color: #ffffff !important;
}

.calendar-busy:hover:not(:disabled) {
  background-color: $main-dark-color !important;
}

.calendar-hidden {
  display: none;
}
