@import "./variables";

// Customize react-calender styles

// Set calender text fonts

.react-calendar {
  font-family: "Roboto", "Noto Sans JP", Meiryo, sans-serif;
}

// Disable active color

.react-calendar__tile--active {
  background-color: #ffffff !important;
  color: #000000;
}

.react-calendar__tile--active:hover {
  background-color: #e6e6e6 !important;
}

// Set Saturday's text color to blue

.react-calendar__tile:nth-child(7n-1) {
  color: #0000ff;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575 !important;
}

// Set background to white and text to black at year and month navigation

.react-calendar__navigation__label:disabled {
  background-color: #ffffff !important;
  color: #000000 !important;
}

// Add Styles for app

// Set free day's text color to accent color

.calender-free {
  background-color: $accent-color !important;
  color: #ffffff !important;
}

.calender-free:hover {
  background-color: $accent-dark-color !important;
}

// Set busy day's text color to may color

.calender-busy {
  background-color: $main-color !important;
  color: #ffffff !important;
}

.calender-busy:hover {
  background-color: $main-dark-color !important;
}
